
Sistema.suo
Sistema/bin/Debug/Scope.exe
Sistema/bin/Debug/Scope.pdb
Sistema/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
Sistema/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Sistema/obj/x86/Debug/Scope.exe
Sistema/obj/x86/Debug/Scope.pdb
Sistema/obj/x86/Debug/Sistema.vbproj.GenerateResource.Cache
Sistema/obj/x86/Debug/Sistema.vbprojResolveAssemblyReference.cache
