
Sistema/bin/Debug/Scope.exe
Sistema/bin/Debug/Scope.pdb
Sistema/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Sistema/obj/x86/Debug/Scope.exe
Sistema/obj/x86/Debug/Scope.pdb
Sistema.suo
