<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Scope>
  <MainDatabase>
    <Type>MSSQL</Type>
    <Name>SCOPE</Name>
    <Server>.\KPMS17</Server>
    <User>sa</User>
    <Credential>abc123@</Credential>
    <CredentialType>0</CredentialType>
    <Port>0</Port>
  </MainDatabase>
  <LegacyDatabase>
    <Type>MYSQL</Type>
    <Name>Lpc_production</Name>
    <Server>admlojas.dyndns.org</Server>
    <User>vb</User>
    <Credential>vb</Credential>
    <CredentialType>0</CredentialType>
    <Port>3307</Port>
  </LegacyDatabase>
  <EMail>
    <Relay>smtp.gmail.com</Relay>
    <Port>0</Port>
    <Address>scope.kpms@gmail.com</Address>
    <Name>Alertas Scope</Name>
    <Credential>admkpms18</Credential>
    <CredentialType>0</CredentialType>
  </EMail>
</Scope>